<div class="container">
    <h2>Datos personales</h2>
    <form id="formCertificateCol" method="post">
        <div class="form-group col-lg-6">
            <label for="name">id:</label>
            <input type="text" class="form-control" id="id" value=<%=idDonacion%> disabled>
        </div>
        <div class="form-group col-lg-6">
            <label for="dni">DNI/CIF:</label>
            <input type="text" class="form-control" id="dni" required>
        </div>
        <div class="form-group col-lg-12">
            <label for="name">Nombre y apellidos:</label>
            <input type="text" class="form-control" id="name" required>
        </div>
        <div class="form-group col-lg-6">
            <label id="razonSocialCol" for="razon" data-toggle="tooltip" data-placement="right" title="Nombre de la empresa, Individuo u Organizaci&oacute;n" for="razon">Raz&oacute;n social</label>
            <input type="text" class="form-control" id="razon" required>
        </div>
        <div class="form-group col-lg-6">
            <label for="email">Correo electr&oacute;nico:</label>
            <input type="email" class="form-control" id="email" required>
        </div>
        <div class="form-group col-lg-12">
            <label for="direccion">Direcci&oacute;n:</label>
            <input type="text" class="form-control" id="direccion" required>
        </div>
        <div class="form-group col-lg-2">
            <label for="cp">C&oacute;digo postal:</label>
            <input type="text" class="form-control" id="cp" required>
        </div>
        <div class="form-group col-lg-5">
            <label for="poblacion">Poblaci&oacute;n:</label>
            <input type="text" class="form-control" id="poblacion" required>
        </div>
        <div class="form-group col-lg-5">
            <label for="provincia">Provincia:</label>
            <input type="text" class="form-control" id="provincia" required>
        </div>
        <div style="text-align: center;">
            <button type="button" id="formButtonCol" class="btn btn-primary" onclick="validateForm();">Enviar <i class="glyphicon glyphicon-send"></i></button>
            <button id="casperButton" type="button" data-toggle="modal" data-target="#myModal" hidden>
        </div>
    </form>
    <br>
    <div id="formAlert" class="alert alert-warning hide"> <strong>Atenci&oacute;n!</strong> Rellene todos los campos y vuelva a intentarlo. </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Confirmar creaci&oacute;n de certificado:</h4>
        </div>
        <div class="modal-body">
            ¿Quieres crear un certificado de donaci&oacute;n con estos datos? El certificado llegar&aacute; a tu correo electr&oacute;nico.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" onclick="formCertificate()">Confirmar</button>
        </div>
</div>
</div>
</div>
</div>⁠⁠⁠⁠

<script>
    $('#razonSocialCol').tooltip();
</script>
