<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i> </button> <a class="navbar-brand page-scroll" href="#page-top">Colmena</a>            </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li> <a class="page-scroll" href="#services">Quiero conocer<br> Colmena</a> </li>
                <li> <a class="page-scroll" href="#portfolio">Quiero conocer<br>proyectos</a> </li>
                <li> <a class="page-scroll" href="#creation">Quiero crear <br>un widget</a> </li>
                <li> <a class="page-scroll" href="#certificate">Quiero recibir <br> un certificado</a> </li>
                <li> <a class="page-scroll" href="#contact">Quiero contactar <br> con vosotros</a> </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">Colmena</div>
            <div class="intro-lead-in">Colmena es un proyecto que pretende hacer que la aportaci&oacute;n de muchos pueda servir para el beneficio de muchos otros</div> <a href="#services" class="page-scroll btn btn-xl">Saber mas</a> </div>
    </div>
</header>
<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Acerca del proyecto colmena</h2>
                <h3 class="section-subheading text-muted">El proyecto colmena nace de la necesidad de adaptar los metodos de donaci&oacute;n a las nuevas tecnologias.</h3> </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4"> <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">E-Commerce</h4>
                <p class="text-muted">El widget esta dirigido a los comercios online, donde los clientes pueden realizar microdonaciones al terminar de comprar sus productos y apoyar as&iacute; al proyecto que la tienda les ofrezca.</p>
            </div>
            <div class="col-md-4"> <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Diseño responsive</h4>
                <p class="text-muted">El widget esta diseñado para poder adaptarse a cualquier espacio dentro de la tienda online. Esto hace que el diseño de la tienda no se vea afectado por cambios bruscos.</p>
            </div>
            <div class="col-md-4"> <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Seguridad Web</h4>
                <p class="text-muted">El widget y su posterior tratamiento de informaci&oacute;n est&aacute;n protegidos frente a las principales vulnerabilidades web.</p>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Proyectos</h2>
                <h3 class="section-subheading text-muted">Estos son los proyectos que Alboan esta llevando acabo en estos momentos</h3> </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"> <i class="fa fa-plus fa-3x"></i> </div>
                    </div> <img src="img/proyectos/tlc-preview.png" class="img-responsive" alt=""> </a>
                <div class="portfolio-caption">
                    <h4>Tecnologia libre de conflicto</h4>
                    <p class="text-muted">RD Congo</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"> <i class="fa fa-plus fa-3x"></i> </div>
                    </div> <img src="img/proyectos/mv-preview.png" class="img-responsive" alt=""> </a>
                <div class="portfolio-caption">
                    <h4>Mujeres Valientes</h4>
                    <p class="text-muted">&Aacute;frica, Am&eacute;rica Latina e India</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"> <i class="fa fa-plus fa-3x"></i> </div>
                    </div> <img src="img/proyectos/colegio-preview.png" class="img-responsive" alt=""> </a>
                <div class="portfolio-caption">
                    <h4 id="portBig">Un cole en una tienda de campaña</h4>
                    <p class="text-muted"> Ruanda, RD Congo, Chad...</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Creation Section -->
<!-- Creation Section -->
<section id="creation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Creaci&oacute;n</h2>
                <h3 class="section-subheading text-muted">Prueba aqu&iacute; la demo de creaci&oacute;n.</h3>
                <p>Con esta herramienta podr&aacute;s personalizar el widget como a ti mas te guste eligiendo entre diferentes colores, m&eacute;todos de donaci&oacute;n y proyectos a apadrinar. </p> <a href="#wizard" class="btn btn-xlwhite" data-toggle="modal">Crear Widget</a> </div>
        </div>
    </div>
</section>
<!-- Certificate Section -->
<section id="certificate">    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Certificado</h2>
                <h3 class="section-subheading text-muted">Aqu&iacute; podras obtener tu certificado de donaci&oacute;n</h3>
                <div class="col-lg-12 text-center">
                    <p>Si has donado en alguna de nuestras tiendas asociadas mediante el widget Colmena podr&aacute;s obtener un certificado de donaci&oacute;n en el que confirmamos que hemos recibido el importe de tu donaci&oacute;n. Este certificado podr&aacute;
                        ser usado para fines fiscales. </p>
                </div>
                <div class="col-lg-12 text-center"> <a href="#formCertificate" class="btn btn-xl" data-toggle="modal">Obtener certificado</a> </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contacto</h2>
                <h3 class="section-subheading text-muted"></h3> </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nombre" id="name" required data-validation-required-message="Introduce tu nombre.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" id="email" required data-validation-required-message="Introduce tu email.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <!--<div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Telefono" id="phone" required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>--></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Mensaje *" id="message" required data-validation-required-message="Por favor introduce un mensaje."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4"> <span class="copyright">Copyright &copy; Colmena 2017</span> </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="https://twitter.com/ALBOANongd"><i class="fa fa-twitter"></i></a> </li>
                    <li><a href="https://www.facebook.com/alboan/?fref=ts"><i class="fa fa-facebook"></i></a> </li>
                    <!--<li><a href="#"><i class="fa fa-linkedin"></i></a> </li>-->
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                  <!--  <li><a href="#">Privacy Policy</a> </li>
                    <li><a href="#">Terms of Use</a> </li> -->
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->
<!-- Tecnologia Libre de conflicto Modal  -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"> </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Tecnolog&iacute;a Libre de Conflicto</h2> <img class="img-responsive img-centered" src="img/proyectos/tlc.jpg" alt="">
                            <p><a href="http://www.tecnologialibredeconflicto.org/que-es-tlc/">Tecnología Libre de Conflicto</a> es una campaña de la ONG ALBOAN para dar a conocer la conexi&oacute;n que existe entre los m&oacute;viles, tablets y ordenadores con la guerra en el este de la Rep&uacute;blica Democr&aacute;tica del Congo.</p>
                            <p>La República Democrática del Congo es una de las zonas mineras más importantes del mundo, especialmente el este del país. Allí se encuentra el 80% de las reservas mundiales de coltán, mineral sin el cual la revolución de las nuevas tecnologías, en especial de la tecnología móvil, no habría sido posible.</p>
                            <p>Su extracción, procesado y venta está controlada por grupos armados que han convertido el Congo en el peor de los infiernos, con más de cinco millones de muertos desde 1998, un millón de personas desplazadas sólo en 2013 y más de cien mil mujeres violadas al año.</p>
                            <p> Esos minerales “manchados de sangre” son los que llegan a nuestras manos escondidos en nuestros móviles. Sin ser muy conscientes de ello, contribuimos a financiar la continuidad de la explotación de tanta gente en las minas y el mantenimiento de los grupos armados que intervienen en los conflictos.</p>
                            <p>Para conocer mas informaci&oacute;n sobre el proyecto haz click <a href="https://www.alboan.org/es/tlc-amparo-sanchez">aqui</a></p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"> </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Mujeres Valientes</h2>
                            <p class="item-intro text-muted">Un mundo que no reconoce la dignidad de las mujeres</p> <img class="img-responsive img-centered" src="img/proyectos/mujeres.JPG" alt="">
                            <p>A principios del tercer milenio, en el mundo siguen existiendo mujeres cuya vida está amenazada por el mero hecho de ser mujer. En diferentes lugares de Asia, por ejemplo, la vida de una niña vale menos que la de sus hermanos, por lo que frecuentemente se les impide venir al mundo o se les deja morir por falta de cuidados o por una alimentación insuficiente. En algunas zonas en conflicto de África las mujeres son violadas de forma sistemática y se convierten en botines de guerra. En este continente la incidencia del SIDA es mucho más elevada en el caso de las mujeres que en el de los hombres. En Centroamérica los asesinatos masivos de mujeres ha provocado que se utilice un término nuevo: el feminicidio. En Europa continuamos padeciendo la lacra de la violencia de género y seguimos siendo países receptores y potenciadores de la trata de personas. </p>
                            <p>Son muchas las situaciones que nos llevan a constatar que, en la práctica, a las mujeres no se les reconoce la misma dignidad que a los hombres. Entre los colectivos más vulnerables, siempre las mujeres sufren múltiples discriminaciones, por ser refugiadas, indígenas, analfabetas... y además mujeres</p>
                            <p>Con la campaña <a href="http://www.alboan.org/mujeres_valientes/">“Mujeres Valientes que luchan por mejorar su vida y la de sus comunidades”</a>, queremos sensibilizar sobre la situación de desigualdad de las mujeres en el mundo y dar a conocer algunas de sus historias de lucha y superación. Además, queremos solicitar colaboración económica para algunos de los proyectos apoyados desde ALBOAN que contribuyen al empoderamiento de las mujeres.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"> </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Un colegio en una tienda de campaña</h2> <img class="img-responsive img-centered" src="img/proyectos/colegio.JPG" alt="">
                            <p>Con <a href="https://refugiadas.wordpress.com/about/">“Un colegio en una tienda de campaña”</a> queremos dar a conocer el drama humanitario en el que viven los millones de personas refugiadas y desplazadas forzosas. Queremosque te sumes para contribuir a cambiar su situación, y para ello apostamos firmemente por facilitarles un acceso digno a la educación. </p>
                            <p>¿Donde estamos?</p>
                            <ul>
                                <li> En <strong>Ruanda</strong>: Apoyamos la educación primaria, secundaria y la educación no formal en campos de personas refugiadas congolesas alcanzando a 11.000 personas.</li>
                                <li>En la <strong>República Democrática del Congo</strong>: Apoyamos la educación secundaria y la alfabetización de mujeres adultas desplazadas. Se benefician casi 17.000 personas.</li>
                                <li>En <strong>Chad</strong>: Apoyamos la educación preescolar y la educación primaria de personas desplazadas internas. 60.000 personas participan de los servicios educativos.</li>
                                <li>En la frontera <strong>Venezuela-Colombia</strong>: apoyamos la educación no formal para la paz de menores y personas adultas, a través de escuelas itinerantes, de 2.200 personas desplazadas y refugiadas.</li>
                                <li>En las recientes emergencias humanitarias en el <strong>Cuerno de África</strong> (Kenia y Etiopia) acogiendo a personas refugias de Somalia o en Haití, con personas desplazadas, ALBOAN ha apoyado los servicios educativos en los campos.</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Formulario Section -->
<div class="form-modal modal fade" id="formCertificate" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"> </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Introduzca su n&uacute;mero de donaci&oacute;n</h2>
                            <div class="span10 offset1">
                                <div id="formAlert" class="alert alert-warning hide"> <strong>Atenci&oacute;n!</strong> Rellene el campo con su n&uacute;mero de donaci&oacute;n y vuelva a intentarlo. </div>
                                <div id="formDanger" class="alert alert-danger hide"> <strong>Error!</strong> Ese n&uacute;mero de donaci&oacute;n no existe o ya ha sido utilizado. </div>
                                <form name="certificate" action="http://localhost:3000/form2">
                                    <input name="number" id="number" type="number" class="form-control" placeholder="Nº de donación">
                                    <input id="btnEnviar" type="button" class="btn btn-primary" value="Enviar" onclick="sendFormData();"> </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Wizard Section -->
<div class="form-modal modal fade" id="wizard" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"> </div>
                </div>
            </div>
            <div class="container">
                <form role="form">
                    <div>
                        <div class="col-md-6" class="form-group" style="margin-bottom: 15px">
                            <label for="sel1">Proyecto:</label>
                            <select class="form-control" id="proyectPickerCol" onchange="cambiarProyecto(this.value)">
                                <option value="0">Tecnologia Libre de Conflicto</option>
                                <option value="1">Mujeres Valientes</option>
                            </select>
                        </div>
                        <div class="col-md-6" class="form-group" style="margin-bottom: 15px">
                            <label for="sel1">Opciones de donaci&oacute;n:</label>
                            <select class="form-control" id="opcion" onchange="cambiarOpcionDon(this.value)">
                                <option value="0">Fijo</option>
                                <option value="1">Variable</option>
                            </select>
                        </div>
                        <div class="col-md-6" style="padding-left: 15px; padding-right: 15px; margin-bottom: 15px;">
                            <label for="titulo">Fondo del Widget:</label>
                            <select class="form-control" id="fondo" onchange="cambiarFondo(this.value)">
                                <option value="0">Foto</option>
                                <option value="1">Color</option>
                            </select>
                        </div>
                        <div id="primDiv" class="col-md-3" style="margin-bottom: 15px;">
                            <label>Color de fondo:</label>
                            <div id="cp8Fondo" data-format="alias" class="input-group colorpicker-component cp8">
                                <input id="colorPickerCol" type="text" value="000000" class="form-control" onchange="cambiarColor()" style="left: 0; margin: 0px; width: 100%" disabled /> <span class="input-group-addon"><i></i></span> </div>
                        </div>
                        <div class="col-md-3 ">
                            <label>Color de letra:</label>
                            <div id="cp8Letra" data-format="alias" class="input-group colorpicker-component cp8">
                                <input type="text" value="ffffff" class="form-control" onchange="cambiarLetra()" style="left: 0; margin: 0px; width: 100%" /> <span class="input-group-addon"><i></i></span> </div>
                        </div>
                    </div>
                </form>
            </div>
            <h2>Resultado: <p>(Nota: El widget es responsive, prueba a cambiar el tamaño de la ventana)</p></h2>
            <div id="colmenaDiv" style="">
                <div id="colmenaText">
                    <p id="descripcionColmena">Apoya al proyecto&nbsp;<strong>Tecnologia libre de conflicto</strong> con el que se pretende conseguir una vida digna para las mujeres v&iacute;ctimas de violencia sexual y para aquellas en riesgo de sufrirla en R.D. Congo.</p>
                    <div class="hidden" data-toggle="buttons" id="variableDon">
                        <div class="select-style">
                            <select onclick="cambiarCantidad(this.value)">
                                <option value="0">0€</option>
                                <option value="1">1€</option>
                                <option value="3">3€</option>
                                <option value="5">5€</option>
                            </select>
                        </div>
                    </div>
                    <div id="fijoDon">
                        <input class="tgl tgl-flip" id="cb5" type="checkbox" />
                        <label class="tgl-btn" data-tg-off="No" data-tg-on="Apoyar!" for="cb5" onclick="cambiarCantidad(100)"></label>
                    </div>
                </div>
                <div id="colmenaCantidad" class="unicoCol">0€</div>
            </div>
            <br><br><br><br>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar </button>
        </div>
    </div>
</div>
